mixin explanationRevision(proverb)
  .explanation
    if proverb.revision
      p
        del!=proverb.explanation
    else
      p!=proverb.explanation

  if proverb.revision
    .revision
      h3 Revision
      p.revision
        mark!=proverb.revision
