mixin explanationRevision(proverb)
  .explanation
    if proverb.revision
      p
        del!=proverb.explanation
    else
      p!=proverb.explanation

  if proverb.revision
    .revision
      if proverb.revisedby
        h3 Revised by #{proverb.revisedby}
      p.revision
        mark!=proverb.revision
