mixin tweet( tweet, id )
  .tweet-wrapper
    blockquote.twitter-tweet( data-lang="en" )
      p( lang="fr" dir="ltr" ) #{tweet} #[a( href="https://twitter.com/hashtag/learningfrench?src=hash") #learningfrench ] &mdash; Tim Benniks (@timbenniks) #[a(href="https://twitter.com/timbenniks/status/"+id) #{id} ]
