extends layout
include _tweet
include _explanation-revision

block content
  main
    section.tweets
      article.tweet(id=proverb.id)
        +tweet(proverb.proverb, proverb.tweetid)
        +explanationRevision(proverb)

        .comments#disqus_thread
        script.
          var disqus_config = function () {
            this.page.url = "#{config.baseurl}/proverb/#{proverb.id}";
            this.page.identifier = "#{proverb.id}";
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://things-parisians-say.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
